<div class="page-header">
  <h1>Zaregistrujte se
    <small> stačí se jednou podívat a už vám nic neunikne</small>
  </h1>
</div>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Registrace se nezdařila</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.text_field :email, :placeholder => 'Emailová adresa' %>
    </p>
    <p>
      <%= f.password_field :password, :placeholder => 'Heslo' %>
    </p>
    <p>
      <%= f.password_field :password_confirmation, :placeholder => 'Heslo ještě jednou' %>
    </p>
    <p class="button"><%= submit_tag 'Zaregistrovat se' %></p>
<% end %>