<%= form_tag vats_path do |f| %>
    <a class="btn btn-primary btn-large">

      <input name="id" placeholder="Zadejte ič k ověření">
      <%= submit_tag :Ověřit %>

    </a>
<% end %>

<h1>Přehled kontrolovaných firem</h1>
<table class="table table-striped table-hover table-condensed">
  <tr><th>Název</th><th>plátce</th><th>insolvence</th><th>nespolehlivý</th></tr>

<% @alist.each do |a| %>
<tr class="<%= :error if (a.reg_insolv or (a.reg_adis and a.reg_adis.listed_unreliable_status) ) %>">
  <td><%= link_to a.name, vat_path(a.ic)  %></td><td><%= a.cz_payer? %></td><td><%= a.reg_insolv  %></td><td><%= a.reg_adis.listed_unreliable_status rescue '-' %></td>
</tr>
<% end  %>
</table>