<div class="page-header">
  <h1><%= @ares_reg.name %>
    <small> ič: <%= @ic %></small>
  </h1>
</div>

<% if @ares_reg.cz_payer or @ares_reg.reg_insolv or @ares_reg.reg_upadce %>
    <h2>ARES - základní údaje</h2>
    <div>
      <% if @ares_reg.cz_payer? %>
          <div class="btn">Subjekt JE plátcem DPH</div>
          <% if @ares_reg.cz_payer == 'A' %>
              Dič: CZ<%= @ares_reg.dic %>
          <% elsif @ares_reg.cz_payer == 'S' %>
              Skupinové dič: CZ<%= @ares_reg.dic %>
          <% end %>
      <% elsif %>
          <div class="btn">Subjekt NENÍ plátcem DPH</div>
      <% end %>
    </div>


    <% if @ares_reg.reg_insolv %>
        <div class="btn btn-danger">Pro subjekt existuje záznam v Insolvenčním rejstříku</div>
    <% end %>
    <% if @ares_reg.reg_upadce %>
        <div class="btn btn-danger">Subjekt je v registru Centrální evidence úpadců</div>
    <% end %>

    <div>Data z ministerstva k:  <%= I18n.l @ares_reg.actual_at.to_date rescue 'platnost neznámá' %></div>
<% end %>


<% if @ares_reg.cz_payer? %>
    <h2>ADIS - údaje o registraci k DPH</h2>
    <div>
      <% unless @adis_reg.listed_unreliable_status %>
          <span class="btn btn-success">Není evidován jako nespolehlivý plátce DPH</span>
      <% else %>
          <span class="btn btn-danger">Subjekt je evidován jako nespolehlivý plátce DPH</span>
      <% end %>
    </div>

    <div>Data z ministerstva k: <%= I18n.l @adis_reg.actual_at.to_date %></div>
<% end %>





